body {
    background-color: #05abc8;
}

form {
    background-color: #444b91;
    color: white;
    border-color: springgreen;
    border-radius: 10%;
    border-style: solid;
    padding: 15px;
}

fieldset {
    border-color: springgreen;
    border-style: dashed;
    border-width: 5px;
    margin: 10px;
    border-radius: 10%;
}

#result {
    border: ridge 3px springgreen;
}